// 1. Frames
// ---------
.frame {
  //border: 1px solid red;
  //@include breakpoint(medium down) {
  //  @include grid-column-row();
  //}
  //&-default {
  //  padding-top: $global-padding;
  //  padding-bottom: $global-padding;
  //
  //  @include breakpoint(large) {
  //    padding-top: $global-padding * 2;
  //    padding-bottom: $global-padding * 2;
  //  }
  //}
  //&-type {
  //  &-form_formframework,
  //  &-header,
  //  &-list,
  //  &-textmedia,
  //  &-table {
  //    padding-top: $global-padding;
  //    padding-bottom: $global-padding;
  //
  //    @include breakpoint(large) {
  //      padding-top: $global-padding * 2;
  //      padding-bottom: $global-padding * 2;
  //    }
  //    > header,
  //    > form,
  //    > table,
  //    > div {
  //      @include grid-col-row();
  //    }
  //  }
  //  //&-heroimage {
  //  //  width: 100%;
  //  //  img {
  //  //    width: 100%;
  //  //  }
  //  //}
  //  //&-cards {
  //  //  header {
  //  //    @include grid-col-row();
  //  //  }
  //  //}
  //  //&-googlemaps {
  //  //    header{
  //  //        @include grid-col-row();
  //  //    }
  //  //  .link {
  //  //    @include grid-col-row();
  //  //    text-align: right;
  //  //    a {
  //  //      display: block;
  //  //    }
  //  //  }
  //  //}
  //}

  //Layout
  &-layout {
    &-100 {
      background-color: get-color(bg-1);
    }
    &-110 {
      background-color: get-color(bg-2);
    }
    &-115 {
      background-color: get-color(bg-3);
    }
  }

  //Frames
  &-ruler-before:before {
    content: '';
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 2em;
  }
  &-indent {
    margin-left: 15%;
    margin-right: 15%;
  }
  &-indent-left {
    margin-left: 33%;
  }
  &-indent-right {
    margin-right: 33%;
  }

}
