video, audio {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.ce-row {
    @include flex-grid-row(nest, expand, null, true, true, $column-spacing);
}

.ce-column {
    margin-bottom: $row-spacing;
    @include breakpoint(medium) {
        @include flex-grid-column(expand, $column-spacing);
    }
}

@include breakpoint(medium) {

    .ce-left .ce-gallery, .ce-column {
        float: left;
    }

    .ce-right .ce-gallery {
        float: right;
    }

    .ce-intext.ce-right .ce-gallery {
        margin-left: $text-margin;
        width: $max-width-intext;
    }

    .ce-intext.ce-left .ce-gallery {
        margin-right: $text-margin;
        width: $max-width-intext;
    }
}

.ce-gallery figure {
    //display: table;
    //margin: 0;
}

.ce-gallery figcaption {
    //display: table-caption;
    //caption-side: bottom;
}

.ce-gallery img {
    display: block;
}

.ce-gallery iframe {
    border-width: 0;
}

.ce-border img,
.ce-border iframe {
    border: $border-width solid $border-color;
    padding: $border-padding;
}

.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery {
    margin-bottom: $text-margin;
}

.ce-below .ce-gallery {
    margin-top: $text-margin;
}

.ce-above .ce-bodytext {
    clear: both;
}

.ce-intext.ce-left ol, .ce-intext.ce-left ul {
    padding-left: 40px;
    overflow: auto;
}
